<section class="p-4 bg-secondary">
	<h2 class="text-primary">Productos</h2>
	<table class="table table-dark">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Foto</th>
			</tr>
		</thead>
		<tbody id="table-faker-data"></tbody>
	</table>
	<h2 id="no-products" class="bg-light p-4 text-danger">No hay productos
    listados</h2>
</section>